<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        name="description">
    <meta content="Looking to improve your listening skills in another language? Look no further than our website!"
        property="og:title">
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oraloa | <%= nomCategorie %></title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/script.js" defer></script>
    <script src="/assets/js/youtubeApi.js" defer></script>


</head>
<body>
</body>
</html>