<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        name="description">
    <meta content="Looking to improve your listening skills in another language? Look no further than our website!"
        property="og:title">
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oraloa | <!-- nomCategorie --></title>
    <link href="/assets/css/challStyle.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/script.js" defer></script>
    <script src="/assets/js/youtubeApi.js" defer></script>
</head>

<body>
    
    <%- include('header.ejs') %>

<div id="divContainer"> <!-- div container-->
    <div id="divGlobal"> <!-- div global-->
        <div id="divHeader"> <!-- div header-->
            <span id="spanCategory">B1-C2</span>
            <button id="divFilter">Difficulty</button>
            <button id="buttonSuggest">Suggest a video</button>
        </div> 
       
        <div class="divLoop"> <!-- div for-->
            <a class="aLoop"> <!-- a for-->
            <hr class="line">
            <div class="divContent"> <!-- div content-->
                <div class="divImage"> <!-- div image-->
                    <img class="imgThumbnail" src="/assets/Img/blackHoles.jpeg" alt="">
                </div>
                <div class="divEverythingElse"> <!-- div reste-->
                    <div class="divTitleChannel"> <!-- div titre/chaine-->
                        <span class="spanTitle" >Official Minecraft Trailer</span>
                        <span class="spanChannel">Minecraft</span>
                    </div>

                    <div class="divDurationStar"> <!-- div durée/star-->
                        <div class="divDuration"> <!-- div durée-->
                            <img class="imgHourglass" src="/assets/Img/hourglassWhite.png" alt="">
                            <stan>1:01</stan>
                        </div>
                        <div class="divStar"> <!-- div star-->
                            <img class="imgStar" src="/assets/Img/star.png" alt="">
                            <img class="imgStar" src="/assets/Img/star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
         <!----></a>
        </div>
        <div class="divLoop"> <!-- div for-->
            <a class="aLoop"> <!-- a for-->
            <hr class="line">
            <div class="divContent"> <!-- div content-->
                <div class="divImage"> <!-- div image-->
                    <img class="imgThumbnail" src="/assets/Img/blackHoles.jpeg" alt="">
                </div>
                <div class="divEverythingElse"> <!-- div reste-->
                    <div class="divTitleChannel"> <!-- div titre/chaine-->
                        <span class="spanTitle" >Official Minecraft Trailer</span>
                        <span class="spanChannel">Minecraft</span>
                    </div>

                    <div class="divDurationStar"> <!-- div durée/star-->
                        <div class="divDuration"> <!-- div durée-->
                            <img class="imgHourglass" src="/assets/Img/hourglassWhite.png" alt="">
                            <stan>1:01</stan>
                        </div>
                        <div class="divStar"> <!-- div star-->
                            <img class="imgStar" src="/assets/Img/star.png" alt="">
                            <img class="imgStar" src="/assets/Img/star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
         <!----></a>
        </div>
    </div>



    </div>


</body>

</html>