<div id="header">
    <div id="logo">
        <a href="">ORALORA</a>
    </div>
    <div id="boxForTabs">
        
        <div id = 'challengeDropdown' href="">CHALLENGE
            <img src="../assets/Img/dropdownArrowWhite.png">
            <div id="challengeDropdownContent">
                <a href="">B1-C2</a>
                <a href="">Movie scenes</a>
                <a href="">Short</a>
                <a href="">Songs</a>
                </div>
        </div>
       <!-- <a class="tabs" href="">SIGN UP</a>
        <a class="tabs" href="">SIGN IN</a>-->
    </div>
</div>
