<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        name="description">
    <meta content="Looking to improve your listening skills in another language? Look no further than our website!"
        property="og:title">
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oralora</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/script.js" defer></script>
    <script src="/assets/js/youtubeApi.js" defer></script>


</head>

<body>

    <%- include('header.ejs') %>

        <div id="globalSection">

            <section id="homeSection">



                <div id="globalTitle">
                    <div id="title">ORALORA</div>
                    <div id="hook">Work your verbal comprehension<!--The best way to learn a language.--></div>

                    <button onclick="scrollToInput()" id="try">TRY</button>
                </div>

            </section>

            <section id="inputSection">

                <div id="inputLoadingDiv">
                    <input placeholder="Enter Youtube URL" autocomplete="off" type="text" id="urlInput" name="urlInput">
                    <span id="invalidURL"></span>
                    <div id="loading"></div>
                </div>
            </section>

            <section id="videoSection">

                <div id="player"></div>

            </section>

            <section id="guessSection">

                <div id="allGuess">
                    <div id="parentScore">
                        <div id="scoreDiv">Score : <span id="currentScore"></span> / <span id="totalWords"></span></div>

                    </div>

                    <div id="foundArea"></div>
                    <div id="parentGuess">
                        <textarea placeholder="Write down every word you hear.." id="guessArea"></textarea>
                        <div id='parentGuessButton'>
                            <button onclick="guessButton()" id="guessButton">GUESS</button>
                        </div>
                    </div>
                    <div id="command">
                        <div><img class="playRepeat" onclick="repeatAWord()" src="/assets/Img/backSec.png"><span
                                class="shortcut"></span>
                        </div>
                        <div><img class="playRepeat" id="repeat" onclick="replayVideo()"
                                src="/assets/Img/Repeat.png"><span class="shortcut"></span></div>
                        <div><img class="playRepeat" onclick="toggleVideo()" src="/assets/Img/playButton.png"><span
                                class="shortcut"></span>
                        </div>


                    </div>
                </div>
            </section>
        </div>
</body>

</html>