<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        name="description">
    <meta content="Looking to improve your listening skills in another language? Look no further than our website!"
        property="og:title">
    <meta
        content="Looking to improve your listening skills in another language? Look no further than our website! We offer a wide range of engaging and informative videos that you can transcribe to improve your listening and comprehension abilities. Whether you're a beginner or an advanced learner, we have videos suitable for your level. Let us help you achieve your language learning goals."
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oralora | Suggest a video</title>
    <link href="/assets/css/challStyle.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/suggest.css" rel="stylesheet">
    <script src="/assets/js/youtubeApi.js" defer></script>
    <script src="/assets/js/script.js" defer></script>
</head>
<body>

    <%- include('header.ejs') %>

    <div id="divSuggest">

        

        <form action="/suggestMethod" method="post">
            <div>If you want to suggest a video you find interesting so everyone can train with, send it here ! Thanks</div>
            <label><%= i18n.t("link") %></label>
            <input type="text" name="nom"  />
            <br />
            <label>Choose category</label>
            <select name="filter"  id="selectFilter"> <!-- select filter-->
              <option value="popularity">Movie Scenes</option>
              <option value="difficulty" >Levels</option>
              <option value="hamster">Short</option>
              <option value="songs">Songs</option>
            </select>
            
              <br />
              <label>Choose difficulty level</label>
              <select name="difficulty" id="selectDifficulty">
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
              </select>
           

            <br />
            <input type="submit" value="Ajouter" />
          </form>
          
      </div>


</body>

</html>