
#logo {
    opacity: 1 !important;
}

#header {
    background-color: #05031B !important;
}

#selectFilter {
    outline: none;
    font-family: 'GolosBold';
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 13px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 3px #b2b2b2 inset;
    transition: all 0.1s ease-in-out;
}


#selectFilter:hover {
    border: 3px solid #d6cfcf;
}



#selectFilter > option {
    padding: 20px;
  }

#divContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* centre horizontalement */
}

#divGlobal {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vw;
    height: auto;
    
     /*width: 40vw; 
    min-width: 655px;
    background: linear-gradient(110deg, #05031B, #0000002b);
     linear-gradient(110deg, #545368, #5f5f5f2b)*/
    background: linear-gradient(110deg, #05031B, #5f5f5f2b);

}

#divHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ededed;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#spanCategory {
    background: rgb(10, 10, 10);/*linear-gradient(45deg, rgb(0 0 0), #93ff78);*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'GolosBold';
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: drop-shadow(0px 1px 1px black);*/
}


#buttonSuggest {
    font-family: 'GolosBold';
    border-radius: 20px;
    cursor: pointer;
    width: 9vw;
    text-align: center;
    height: 40px;
    background: white;
    border-radius: 13px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 3px #b2b2b2 inset;
    transition: all 0.1s ease-in-out;
  }

  #buttonSuggest:hover {
    border: 3px solid #d6cfcf;
  }


.aLoop {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.divLoop {
    background: #0B0E2B;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.divLoop2 {
    background: #05031B;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

  
.divLoop:hover, .divLoop2:hover{
    filter: saturate(120%);
    filter: brightness(1.2);
  }

  
/* .divLoop:hover .line {
    width: 99.75%;
  }

.line {
    border:none; ajoute une bordure 
    border-radius: 10px; /* arrondit les coins de la bordure 
    height: 5px;
    background: #AFAFAF;
    width: 95%;
    transition: width 0.3s;
    align-self: center;
    margin: 0;
}
*/
.divContent {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.divImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 28px;
}

.imgThumbnail {
    border-radius: 14px;
    width: 14vw;
    max-width: 300px;
    min-width: 100px;
    filter: drop-shadow(2px 2px 4px black);
}

.divEverythingElse{
    min-width: 20vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divTitleChannel{
    margin-top: 14px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.spanTitle{
    font-size: 1.05rem;
    color: #C3C3C3;
}

.spanChannel {
    font-size: 1.05em;
    font-family: GolosSemiBold;
}

.spanTitle, .spanChannel{
    text-align: left;
    align-self: flex-start;

}

.divDurationStar {
    margin-bottom: 14px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.divDuration {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.imgHourglass {
    width: 17px;
}

.spanDuration {
    font-family: GolosBold;
    background: linear-gradient(45deg, rgb(125, 147, 245), #93ff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divTotalWords{
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.divStar {
    display: flex;
    align-self: center;
    gap: 5px;
}

.imgStar {
    width: 25px;
}



