body {
    background-color:#12072f; /*#120731 #070018 #1f0069 #3a1a93 #241842 #4d416a #12072f #362369 #241842*/
    margin: 0;
    padding: 0;
    color: white;
    font-family: "GolosRegular";
}

:root {
    --accent-gradient: linear-gradient(45deg, rgb(125, 147, 245), #93ff78);
}

#header {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    height: 62px;
    z-index: 1;
    text-align: center;
    gap: 10px;
}


#divInformations{
    color: #2f2e48;
    display: none;
    background-color: rgba(0, 0, 0, 0.81);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#imgTranslateExplanation {
    width: 27vw;
}

#divParagraph {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    position: absolute;
	top: 5%;
    left: 16%;
    width: 70%;
    height: 85%;
}

#divInfoSon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#parchment {
    height : 88vh;
	border-radius : 29px;
}

.paragraph {
    font-size: 1em;
}

#cross {
    width: 33px;
    height: 33px;
    position : absolute;
	top : -36px;
	right : -36px;
	cursor : pointer;
}

#divLang {
    transition: all 0.3s ease;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 60px;
    z-index: 2;
    display: none;
    background: #05031B;
}

#currentFlag{
    height: 100%;
    borer: 2px solid red;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
}

#currentFlag:hover #divLang{
    display: flex;
}



#imgCurrentFlag {
}

#otherFlag {

}

#parentGuessButton {
    gap: 10px;
    position: absolute;
    right: -7.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#imgRules {
    cursor: pointer;
    width: 3.5vw;
}

.imgFlag {
    width: 30px;
}

#challengeDropdown {
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}

#challengeDropdownContent {
    
    width: 150px;
    height: 150px;
    border-radius: 18px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 67px;
    left: -30px;
    background: #242424;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#challengeDropdownContent > a {
    transition: 0.3s ease-in-out;
    flex: 25%;
    border-radius: 18px;
    font-family: GolosBold;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#challengeDropdownContent a:hover {
    background: #3c3c3c;
    transition: 0.4s ;

}

#challengeDropdown > img {
    top: 42px;
    position: absolute;
    width: 18px;

}

#boxForTabs:hover #challengeDropdownContent {
    display: flex;
  }

#divLoading {
    color: #2f2e48;
    display: block;
    background-color: rgba(0, 0, 0, 0.81);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#loadingSpinner0{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inputLoadingDiv {
    position: relative;
}
#loadingSpinner {
    display: flex;
    position: absolute;
    top: 10vw;
    transition: opacity 0.75s, visibility 0.75s;
}

/* #loeadingSpinnerHidden {
    opacity: 0;
    visibility: hidden;
} */

#loadingSpinner::after, #loadingSpinner0::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 7px solid #c1c1c1;
    border-top-color: rgb(3, 38, 54);
    border-radius: 50%;
    animation: loading 0.7s cubic-bezier(0, 0, 0.45, 0.85) infinite;
}


@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}



#boxForAll{
    margin-right: 3.5vw;
    display: flex;
    gap: 10px;
}

#boxForTabs {
    align-items: center;
    display: flex;
    position: relative;
    gap: 1vw;
    font-family: GolosBold;
}

#logo {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: "GolosBlack" !important;
    font-size: 2em;
    margin-left: 3vw;
}

#parentScore{
    text-shadow: 2px 2px black;
    font-size: 2vw;
    font-family: GolosBold;
    display: flex;
    gap: 3px;
}

#parentGuess {
    display: flex;
    position: relative;
}

#guessButton {
    font-family: GolosBold;
    border: 2px solid #0b3800;
    cursor: pointer;
    border-radius: 30px;
    width: 7vw;
    height: 3vw;
    transition: all 0.3s ease;
    color: #0a3800;
}

#guessButton:hover {
    background: #0a3800;
    color: white;
}

.guessWords {
    color: rgb(182, 2, 2);
}

.tabs:hover {
    color: blueviolet;

}

iframe {
    width: 40vw;
    height: 22.5vw;
}

#globalTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
    font-family: GolosMedium;
    font-size: 1.2em;
}

#title {
    font-family: GolosBlack;
    font-size: 5em;
    filter: drop-shadow(6px 4px black);
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#try {
    text-align: center;
    margin-top: 3vw;
    width: 9vw;
    height: 4vw;
    font-family: GolosBlack;
    font-size: 1.2em;
    border-radius: 200px;
    box-shadow: 6px 6px 0px black;
    border: 2px solid white;
    cursor: pointer;
    color: #0a3800;
    background-image: var(--accent-gradient);
    transition: all 0.3s ease-out;
    background-size: 200% auto;
}

#try:hover {
    background-position: right center;
    transform: translate(6px, 6px) ;
    box-shadow: 0px 0px 0px black;
}

#inputSection,
#homeSection {
    display: flex;
}

section {
    display: none;
    justify-content: center;
    align-items: center;
}

#inputSection>div {
    display: flex;
    position: relative;
    margin-bottom: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#invalidURL {
    position: absolute;
    background: linear-gradient(45deg, #950000, #c50000);
    top: 5.5vw;
    font-size: 1vw;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: GolosBold;
}

#strongEnd{
    display: inline-block;
    color: #b09421;
}

#allGuess {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playRepeat {
    cursor: pointer;
    width: 3.5vw;
}

#replay{
    transform: rotate(17deg);
}

#spanMail {
    font-family: "GolosBold";
}

#command {
    display: flex;
    justify-content: center;
}

#command div {
    min-width: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.shortcut {
    position: absolute;
    top: 4vw;
    font-size: 0.8em;
    font-family: GolosRegular;
}

#urlInput {
    border: none;
    padding-left: 20px;
    width: 55vw;
    height: 4.3vw;
    border-radius: 100px;
    border: 3px solid #D9D9D9;
    transition: color, outline, background-color 0.5s ease-in-out;
    background-color: #D9D9D9;
    font-size: 1.05em;
    font-family: GolosBold;

}

#urlInput:focus {
    outline: rgb(230, 230, 230);
    background-color: #05031b;;
    color: white;
}

#urlInput::placeholder {
    transition: color 0.3s ease-in-out;
    color: rgb(154, 154, 154);
    font-family: GolosSemiBold;
}

#urlInput:focus::placeholder {
    color: transparent;
}

#foundArea {
    border-radius: 33px;
    width: 58vw;
    height: 12vw;
    padding: 16px;
    font-family: GolosSemiBold;
    background-color: #D9D9D9;
    font-size: 1.2em;
    color: rgb(0, 0, 53);
    overflow-y: auto;
    overflow-x: hidden;
}

#foundArea > span {
    cursor: pointer;
}

#guessArea {
    resize: none;
    font-family: GolosRegular;
    border-radius: 23px;
    font-family: GolosSemiBold;
    width: 40vw;
    height: 8vw;
    padding: 12px 0 0 15px;
    background-color: #D9D9D9;
    font-size: 1.2em;
    border: 0;
}

#guessArea::placeholder {
    color: rgb(150, 150, 150);
    font-family: GolosRegular;
}

#guessArea:focus {
    outline: none !important;
}

#globalSection section {

    height: 100vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

#globalSection {
    margin-top: 105px;
    scroll-behavior: smooth;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

a,
a:hover,
a:focus,
a:active {
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    scroll-behavior: smooth;
    text-decoration: none;
}

@font-face {
    font-family: "GolosBlack";
    src: url("../Font/GOLOS/GolosText-Black.ttf");
}

@font-face {
    font-family: "GolosExtraBold";
    src: url("../Font/GOLOS/GolosText-ExtraBold.ttf");
}

@font-face {
    font-family: "GolosBold";
    src: url("../Font/GOLOS/GolosText-Bold.ttf");
}

@font-face {
    font-family: "GolosSemiBold";
    src: url("../Font/GOLOS/GolosText-SemiBold.ttf");
}

@font-face {
    font-family: "GolosMedium";
    src: url("../Font/GOLOS/GolosText-Medium.ttf");
}

@font-face {
    font-family: "GolosRegular";
    src: url("../Font/GOLOS/GolosText-Regular.ttf");
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #05031B;
}